@keyframes twinkle {
  from {
    background-position:0 0;
  }
  to {
    background-position:-10000px 5000px;
  }
}

.stars, .stars::after {
  bottom: 0;
  display: block;
  height: 200vh;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.stars {
  background-image: url(/images/stars.png);
  background-repeat: repeat;
  background-position: top center;
  z-index: 0;
}

.stars::after {
  animation: twinkle 200s linear infinite;
  background-image: url(/images/twinkling.png);
  background-repeat: repeat;
  background-position: top center;
  content: " ";
  z-index: 1;
}

.head, .body {
  position: relative;
  z-index: 2;
}

.section-1 {
  padding: 100px 0 50px;
  text-align: center;
  text-transform: uppercase;
}

.section .wallet {
  color: #F9AF00;
  font-size: 24px;
}

.section-1 .wallet a {
  color: #F9AF00;
}

.section-1 nav {
  margin-top: 20px;
}

.section-1 nav a {
  color: #CCCCCC;
  margin: 0 20px;
  text-decoration: none;
}

.section-1 nav a.active {
  color: #FFFFFF;
  font-weight: bold;
}

.section-2 .game {
  align-items: center;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  padding: 20px;
}

.section-2 .menu {
  flex-basis: 25%;
}

.section-2 .menu .preview img {
  border-bottom: 5px solid #000000;
  border-radius: 5px;
  width: 100%;
}

.section-2 .menu nav {
  margin-bottom: 40px;
  text-align: center;
}

.section-2 .menu nav a {
  color: #000000;
  display: block;
  margin-top: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.section-2 .menu nav a.active {
  font-weight: bold;
  font-size: 18px;
}

.section-2 .info {
  color: #000000;
  flex-basis: 75%;
  padding: 0 20px;
  text-align: center;
}

.section-2 .info .message {
  background-color: #E1C18A;
  border: 1px solid #BD9F6D;
  border-radius: 10px;
  padding: 20px;
}

@media(max-width: 1000px) {
  .section-2 .game {
    display: block;
  }

  .section-2 .menu {
    align-items: center;
    display: flex;
    margin: 0 auto 40px;
    width: 300px;
  }

  .section-2 .menu .preview {
    max-width: 150px;
  }

  .section-2 .menu nav {
    margin-bottom: 0;
    padding-left: 20px;
  }

  .section-2 .menu nav a {
    margin: 20px 0;
  }

  .section-2 .info {
    padding: 0;
  }
}

@media(max-width: 430px) {
  .section-1 nav a {
    margin: 0 10px;
  }
}