@keyframes twinkle {
  from {
    background-position:0 0;
  }
  to {
    background-position:-10000px 5000px;
  }
}

.stars, .stars::after {
  bottom: 0;
  display: block;
  height: 200vh;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.stars {
  background-image: url(/images/stars.png);
  background-repeat: repeat;
  background-position: top center;
  z-index: 0;
}

.stars::after {
  animation: twinkle 200s linear infinite;
  background-image: url(/images/twinkling.png);
  background-repeat: repeat;
  background-position: top center;
  content: " ";
  z-index: 1;
}

.head, .body {
  position: relative;
  z-index: 2;
}

.head .center .logo {
  display: none;
}

.section-1 {
  padding: 70px 0 100px;
  text-align: center;
}

.section-1 h6 {
  margin: 0;
}

.section-1 img {
  max-width: 600px;
  width: 100%;
}

.section-2 {
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #140737 90%, #1A084D 90%);
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.section-2 img {
  max-width: 400px;
  width: 100%;
}

.section-2 .info {
  color: #FFFFFF;
  padding-left: 40px;
  max-width: 400px;
}

.section-2 .info h1 {
  color: #F9AF00;
}

.section-2 .info p {
  font-size: 15px;
}

.section-2 .info ul {
  padding-left: 15px;
}

.section-2 .info li {
  font-size: 15px;
  line-height: 30px;
  padding-left: 10px;
}

.section-3 img {
  width: 100%;
}

.section-4 {
  background-color: #3D2C21;
  background-image: url(/images/home/dirt-1.png);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: 70px;
  color: #FFFFFF;
  margin-top: -5px;
  padding: 100px 0;
}

.section-4 a {
  color: #FFFFFF;
}

.section-4 h2 {
  display: none;
  margin-top: 0;
}

.section-4 .left,
.section-4 .right {
  flex-grow: 1;
  margin: 0 10px;
  width: 50%;
}

.section-4 .faq {
  display: flex;
  justify-content: center;
}

.section-4 .faq h3 {
  color: #F9AF00;
  font-size: 12px;
  margin: 0;
  padding-bottom: 10px;
}

.section-4 .faq p {
  padding: 0 0 40px;
}

.audio {
  background-color: #43A459;
  border: 1px solid #000000;
  border-radius: 10px;
  bottom: 20px;
  display: flex;
  height: 50px;
  left: 20px;
  padding: 10px 10px 0 0;
  position: fixed;
  z-index: 1000;
}

.audio .preview {
  float: left;
  margin-left: -15px;
  margin-top: -50px;
}

.audio .preview img {
  width: 100px
}

.audio .levels {
  display: flex;
  left: -24px;
  position: relative;
}

@keyframes bounce{
  10% { transform:scaleY(.25) }
  30% { transform:scaleY(.83) }
  60% { transform:scaleY(.42) }
  80% { transform:scaleY(.625) }
  to { transform:scaleY(.5) }
}

.audio .levels .bar {
  animation: bounce 2.2s ease infinite alternate;
  background-color: #FFFFFF;
  border-radius: 1px;
  height: 100%;
  margin: 0 1px;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: all 1s ease;
  width: 10px;
}

.audio .levels .bar:nth-of-type(2) {
  animation-delay: -2.2s;
}

.audio .levels .bar:nth-of-type(3) {
  animation-delay: -3.7s;
}

.audio .play {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  font-size: 26px;
  height: 40px;
  line-height: 43px;
  margin-left: -20px;
  overflow: hidden;
  text-align: center;
  width: 40px;
}

@media(max-width: 960px) {
  .section-2 {
    display: block;
    padding: 100px 20px;
    text-align: center;
  }

  .section-2 .info {
    padding-left: 0;
    margin: auto;
  }

  .section-2 .info h1 {
    font-size: 21px;
  }

  .section-2 .info ul {
    list-style: none;
  }

  .section-2 .info li {
    padding-left: 0;
  }

  .section-4 .faq {
    display: block;
    text-align: center;
  }

  .section-4 .left,
  .section-4 .right {
    width: auto;
  }

  .section-4 .faq h3 {
    white-space: normal;
  }
}