h1, h2 {
  color: #F9AF00;
}

.table {
  width: 100%;
}

.table th,
.table td {
  padding: 20px;
}

.address {
  font-size: 10px;
}

.section-1 {
  padding-top: 50px;
  text-align: center;
}

.section-1 h1 {
  margin-bottom: 0;
}

.section-2 h2 {
  font-size: 16px;
  padding-left: 20px;
}

.section-3 {
  padding-bottom: 100px;
}

.section-3 h2 {
  font-size: 16px;
  padding-left: 20px;
}