# used to configure the code based on network see: hardhat.config.js
BLOCKCHAIN_NETWORK=hardhat

# coin market cap key to estimate the gas cost in unit tests
BLOCKCHAIN_CMC_KEY=

# scanner API key
BLOCKCHAIN_SCANNER_KEY=

# rinkeby settings
BLOCKCHAIN_RINKEBY_PRIVATE_KEY=

# ethereum settings
BLOCKCHAIN_ETHEREUM_PRIVATE_KEY=