/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




@font-face {
    font-family: "Poppins";
    src: local("Open Sans"), url(/assets/fonts/Poppins-Regular.ttf) format("truetype");
} 
@font-face {
    font-family: "Poppins-ExtraBold";
    src: local("Open Sans"), url(/assets/fonts/Poppins-ExtraBold.ttf) format("truetype");
} 
@font-face {
    font-family: "Poppins-Medium";
    src: local("Open Sans"), url(/assets/fonts/Poppins-Medium.ttf) format("truetype");
} 

@font-face {
    font-family: "Pixel"; 
    src: local("Open Sans"), url(/assets/fonts/VT323-Regular.ttf) format("truetype");
}  
 

@font-face {
    font-family: "IMFellDWPica-Italic"; 
    src: local("Open Sans"), url(/assets/fonts/IMFellDWPica-Italic.ttf) format("truetype");
}   

@font-face {
    font-family: "IMFellDWPica-Regular"; 
    src: local("Open Sans"), url(/assets/fonts/IMFellDWPica-Regular.ttf) format("truetype");
}  
 