<ion-content> 

<div class="c-header">
    
    <img class="bg" src="/assets/bg1.png" alt="">

    <div class="c-header-content">
<ion-row class="c-main-justify-center  "   >
<ion-col class="container" size="12" size-lg="11" size-md="12" size-sm="12">
        <div class="header-actions">
            <img (click)="onOpenWindow('https://twitter.com/WeAreCashCows')" src="/assets/twitter.png" alt="">
            <img (click)="onOpenWindow('')" src="/assets/discord.png" alt="" class="discord">
        </div>
</ion-col>
</ion-row>
    </div> 
</div>


<div class="c-section-1">
    
    <img class="bg" src="/assets/bg2.png" alt="">


<ion-row class="c-main-justify-center  "   >
<ion-col class="container" size="12" size-lg="11" size-md="12" size-sm="12">
        <div class="c-section-1-content">
            <img src="/assets/longlogo.gif" alt="">
            <div class="actions">
                <ion-row> 
                <ion-col size="12" size-lg="6" size-md="6" size-sm="12">
                    <img (click)="onOpenWindow('/mint')" src="/assets/mint-now.png" alt="">
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="12">
                    <img  (click)="onOpenWindow('https://medium.com/@cashcows')" src="/assets/learnmore.png" alt="">
                </ion-col>
                </ion-row>
            </div>
        </div>
</ion-col>
</ion-row>

</div>


<div class="c-section-2">

    <img class="bg" src="/assets/bg3.png" alt=""> 

<ion-row class="c-main-justify-center  "   >
<ion-col class="container" size="12" size-lg="11" size-md="12" size-sm="12">
        <div class="c-section-2-content">
            <ion-row>
                <ion-col size="12" size-lg="6" size-md="12" size-sm="12" style="    text-align: center;">
                    <img src="/assets/cows-group.png" alt="">
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
                    <div class="c-section-2-content-1">
                        <div class="c-txt"> 
                            <h1>More Than Just 7,777 Cows</h1>
                            <p>An experiment about sharing wealth by evenly splitting the creator fees earned through every sale on OpenSea, LooksRare and x2y2 to every Cow holder.</p>
                            <span>
                                • Passive Staking (just hold) <br>
                                • 100% Contract Driven Rewards <br>
                                • CC0 Personal & Commercial Rights <br>
                                • 350 Reserved for Team <br>
                                • Community Activated Roadmap <br> <br> 
                            </span>
                        </div>
                        <div class="actions"> 
                            <img (click)="onOpenWindow('/claim-royalty')" src="/assets/redeem.png" alt="">
                            <img (click)="onOpenWindow('/claim-royalty')" src="/assets/view-cows.png" alt="">
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
</ion-col>
</ion-row>

</div>


<div class="c-section-3">

    <img class="bg" src="/assets/bg-money.png" alt=""> 

<ion-row class="c-main-justify-center  "  style="text-align: center;"  >
<ion-col class="container" size="12" size-lg="11" size-md="12" size-sm="12">
        <div class="c-section-3-content">
            <ion-row>
                <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
                    <img src="/assets/whitelist.png" alt="">
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
                    <img src="/assets/public.png" alt="">
                </ion-col>
            </ion-row>
        </div>
</ion-col>
</ion-row>

</div>


<div class="c-section-4">

    <img class="bg" src="/assets/bg4.png" alt=""> 

<ion-row class="c-main-justify-center  "   >
<ion-col class="container" size="12" size-lg="11" size-md="12" size-sm="12">
        <div class="c-section-4-content">
            <ion-row>
                <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
                    <div class="c-section-4-content-1">
                        <div class="c-txt"> 
                            <h1>The Moo-Cow-Nomics</h1>
                            <p>When someone sells their cow on OpenSea, a 10% fee is deducted from the sale called a “creators fee”. This fee will be sent to a smart contract, and allocated for every Cow holder to redeem evenly.</p> 
                        </div>
                        <img  (click)="onOpenWindow('https://medium.com/@cashcows')" src="/assets/learnmore.png" alt=""> 
                    </div>
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="12" size-sm="12" style="    text-align: center;">
                    <img src="/assets/moo-cow-nomics.png" alt="">
                </ion-col>
            </ion-row>
        </div>
</ion-col>
</ion-row>

</div>


<div class="c-section-5">

    <img class="bg" src="/assets/bg5.png" alt=""> 

<ion-row class="c-main-justify-center  "   >
<ion-col class="container" size="12" size-lg="11" size-md="12" size-sm="12">
        <div class="c-section-5-content"> 
            <h1>Community Milestones</h1>
            <p>Cow holders drive the roadmap of this project purely based on total sales volume.</p>
            <div class="c-milestones">
                <ion-row>
                    <ion-col *ngFor="let a of [].constructor(5);index as i" size="12" size-lg="2.4" size-md="6" size-sm="12"><img [src]="'/assets/m'+(i+1)+'.png'" alt=""></ion-col>
                </ion-row>
            </div>
        </div>
</ion-col>
</ion-row>

</div>


<div class="c-section-6">

    <img class="bg" src="/assets/bg6.png" alt=""> 

<ion-row class="c-main-justify-center  "   >
<ion-col class="container" size="12" size-lg="11" size-md="12" size-sm="12">
        <div class="c-section-6-content">   
            <h1>FAQs</h1>
            
            <ion-row>
                <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
                    <div class="c-section-6-content-1">
                        <div class="c-item"> 
                            <h3>Wen reveal?</h3>
                            <p>Immediately after mint out.</p> 
                        </div> 
                        <div class="c-item"> 
                            <h3>What is CC0?</h3>
                            <p>CC0. This means there is no copyright. You can modify,  distribute and perform the work, even for commercial 
                                purposes, all without asking permission so long as you own the wallet that owns the Cows until you sell  it or transfer it to a wallet that you do not own.</p> 
                        </div> 
                        <div class="c-item"> 
                            <h3>What is the utility/roadmap?</h3>
                            <p>100% of Creator fees are given to Cow holders evenly As rewards for passively staking. Roadmap is activated by reaching community milestones measured by total  sales volume.</p> 
                        </div> 
                        <div class="c-item"> 
                            <h3>How do I stake and earn rewards?</h3>
                            <p>Rewards are passively earned, meaning you only need to hold the Cows.</p> 
                        </div> 
                        <div class="c-item"> 
                            <h3>How can I redeem my rewards?</h3>
                            <p>Current holders of Cash Cows can redeem their reward here or directly from the contract here. </p> 
                        </div> 
                        <div class="c-item"> 
                            <h3>If I sell my Cows can I still redeem?</h3>
                            <p>Once you sell your Cow you no longer have the rights to redeem its rewards (it passes to the new owner).</p> 
                        </div>  
                    </div>
                </ion-col> 
                <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
                    <div class="c-section-6-content-1">
                        <div class="c-item"> 
                            <h3>How do I get on the Whitelist?</h3>
                            <p>Please follow us on Twitter @wearecashcows to get info on getting on the whitelist.</p> 
                        </div>  
                        <div class="c-item"> 
                            <h3>What do I need to know before owning a Cow?</h3>
                            <p>Rewards are driven by sales volume. No volume means no rewards. Before selling your Cow please make sure you redeem its rewards first. Failing to do so would mean the new owner would have the rights to its rewards instead.</p> 
                        </div> 
                        <div class="c-item"> 
                            <h3>How do you fund this project?</h3>
                            <p>We fund this project through the rewards earned by holding Cows like everyone else. The community milestones measure the funding needed to activate milestones of the project.</p> 
                        </div> 
                        <div class="c-item"> 
                            <h3>Who is on the team?</h3>
                            <p>Though this experiment is 100% controlled by contracts, the rewards are still financial in nature. We would like to remain anonymous until we work out the major issues that may arise while conducting this trial. Since we  are all getting the same creator fees fairly and evenly, then we are all on the team technically. </p> 
                        </div> 
                        <div class="c-item"> 
                            <h3>Can I see the contracts?</h3>
                            <p>• NFT Contract <br>
                                • RoyaltySplitter Contract</p> 
                        </div>  
                    </div>
                </ion-col> 
            </ion-row>
        </div>
</ion-col>
</ion-row>

</div>

 
</ion-content>