.body {
  background-image: url(/images/bg-soon.png);
  background-position: bottom center;
  background-size: cover;
}

.box {
  background-color: #E1C18A;
  border: 1px solid #BD9F6D;
  border-radius: 10px;
  color: #222222;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 40px 0;
  text-align: center;
  width: 365px;
}

.section-soon {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}