.section-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.section-1 img {
  max-width: 400px;
  width: 100%;
}

.section-1 .info {
  color: #FFFFFF;
  padding-left: 40px;
  max-width: 400px;
}

.section-1 .info h1 {
  color: #F9AF00;
}

.section-1 .info p {
  font-size: 15px;
}

.section-1 .info ul {
  padding-left: 15px;
}

.section-1 .info li {
  font-size: 15px;
  line-height: 30px;
  padding-left: 10px;
}

.section-2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #140737 90%, #1A084D 90%);
  padding: 50px 0;
  position: relative;
  text-align: center;
}

.section-2 .content {
  position: relative;
  z-index: 2;
}

.section-2 h2 {
  color: #F9AF00;
  font-size: 16px;
  margin: 0;
}

.section-2 p {
  color: #CCCCCC;
  padding: 0;
}

.section-2 .stats {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.section-2 .stats .stat {
  padding: 0 32px;
}

.section-2 .stats .stat h6 {
  margin: 0;
}

.section-2 .community {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  max-width: 900px;
  width: 100vw;
}

.section-2 .community aside {
  width: 16%;
  text-align: center;
}

.section-2 .community img {
  width: 60px;
  opacity: 0.3;
}

.section-2 .community .completed img {
  width: 60px;
  opacity: 1;
}

.section-2 .community h6 {
  margin: 0;
}

.section-2 .community .bar {
  display: block;
  height: 20px;
  width: 100%;
  background-color: #AAAAAA;
}

.section-2 .community .completed .bar {
  background-color: #F9AF00;
}

.section-3 img {
  width: 100%;
}

.section-4 {
  background-color: #3D2C21;
  background-image: url(/images/about/dirt-1.png);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: 70px;
  color: #FFFFFF;
  margin-top: -5px;
  padding: 100px 0;
}

.section-4 a {
  color: #FFFFFF;
}

.section-4 h2 {
  display: none;
  margin-top: 0;
}

.section-4 .left,
.section-4 .right {
  flex-grow: 1;
  margin: 0 10px;
  width: 50%;
}

.section-4 .faq {
  display: flex;
  justify-content: center;
}

.section-4 .faq h3 {
  color: #F9AF00;
  font-size: 12px;
  margin: 0;
  padding-bottom: 10px;
}

.section-4 .faq p {
  padding: 0 0 40px;
}

.audio {
  background-color: #43A459;
  border: 1px solid #000000;
  border-radius: 10px;
  bottom: 20px;
  display: flex;
  height: 50px;
  left: 20px;
  padding: 10px 10px 0 0;
  position: fixed;
  z-index: 1000;
}

.audio .preview {
  float: left;
  margin-left: -15px;
  margin-top: -50px;
}

.audio .preview img {
  width: 100px
}

.audio .levels {
  display: flex;
  left: -24px;
  position: relative;
}

@keyframes bounce{
  10% { transform:scaleY(.25) }
  30% { transform:scaleY(.83) }
  60% { transform:scaleY(.42) }
  80% { transform:scaleY(.625) }
  to { transform:scaleY(.5) }
}

.audio .levels .bar {
  animation: bounce 2.2s ease infinite alternate;
  background-color: #FFFFFF;
  border-radius: 1px;
  height: 100%;
  margin: 0 1px;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: all 1s ease;
  width: 10px;
}

.audio .levels .bar:nth-of-type(2) {
  animation-delay: -2.2s;
}

.audio .levels .bar:nth-of-type(3) {
  animation-delay: -3.7s;
}

.audio .play {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  font-size: 26px;
  height: 40px;
  line-height: 43px;
  margin-left: -20px;
  overflow: hidden;
  text-align: center;
  width: 40px;
}

@media(max-width: 960px) {
  .section-1 {
    display: block;
    padding: 100px 20px;
    text-align: center;
  }

  .section-1 .info {
    padding-left: 0;
    margin: auto;
  }

  .section-1 .info h1 {
    font-size: 21px;
  }

  .section-1 .info ul {
    list-style: none;
  }

  .section-1 .info li {
    padding-left: 0;
  }

  .section-4 .faq {
    display: block;
    text-align: center;
  }

  .section-4 .left,
  .section-4 .right {
    width: auto;
  }

  .section-4 .faq h3 {
    white-space: normal;
  }
}

@media(max-width: 650px) {
  .section-3 .community {
    box-sizing: border-box;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-3 .community aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-3 .community aside img,
  .section-3 .community .completed img {
    width: 100px;
  }

  .section-3 .community .bar {
    display: none;
  }
}

@media(max-width: 560px) {
  .section-2 .stats {
    display: block;
  }
}