
p,h1,h2,h3,h4,h5,b,span,div,ion-icon{ 
    font-family: 'Pixel'; 
} 

ion-content{
    --background: url(/assets/bg.png);
}
.c-a1{
    height: 100%;
    .c-a1-1{
        position: relative;
        margin-bottom: 10px;
        .c-bg-1{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        .c-a1-1-content{ 
            // display: flex;
            // place-self: center;
            // column-gap: 43px;
            // place-content: center; 
            // padding: 1.5em;
            padding: 3em;
            .c-a1-1-content-1{
                display: grid;
                grid-row-gap: 5px;
                row-gap: 5px;
                place-content: center;
            }
            .c-connect{
                height: fit-content;
                margin-top: 15px;
            }
        }
    }
    .c-a1-2{
        position: relative;
        .c-a1-2-bg{
            width: 100%;
        }
        .c-a1-2-content{
            position: absolute;
            top: 0px;
            height: 100%;
            width: 100%;
            display: grid;
            place-content: center;
            row-gap: 15px;
            padding: 3em;
        }
    }
}

.c-a2{
    height: 100%;
    .c-a2-1{ 
        position: relative;
        height: 100%;
        .c-a2-1-bg{
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
        }
        .c-a2-1-content{
            padding: 4em;
            .c-monitor{
                .c-monitor-content{
                    position: absolute;
                    top: 26%;
                    padding: 2.4em;
                    width: 100%;
                    height: 72%;
                    text-align: center;
                    p{
                        margin: 0px;
                    }
                    a{
                        font-size: 16px;
                        color: #B36B68;
                    }
                    .c-title-pull{
                        margin: 0px;
                        color: #B36B68;
                        font-size: 63px;
                    }
                    .c-receipt{
                        margin: 0px;
                        margin-top: 28px;
                        color: #B36B68;
                        font-size: 40px;
                    }
                }
            }
            .c-a2-1-content-1-1{
                position: relative;
                .c-pull{
                    cursor: pointer;
                }
                .c-receipt{
                    margin: 0px;
                    font-size: 42px;
                    color: #1C0F0B; 
                    text-align: center;
                }
                .c-pull-div{ 
                    animation: hideAnimation 0s ease-in 15s;
                    animation-fill-mode: forwards;
                }
                .c-pull-msg{ 
                    animation: float 2s ease-in-out infinite; 
                    position: absolute; 
                    top: -196px;
                    left: 0px;
                }
            }
            .c-a2-1-content-1-2{
                .c-num-pad{
                    position: relative;
                    .c-num-pad-bg{
                        width: 100%;
                        
                    }
                    .c-a2-content-1-3{
                        position: absolute;
                        top: 0px;
                        text-align: center;
                        height: 90%; 
                        .c-num{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}



.c-twitter,.c-connect,.c-know-more,.c-cc{
    cursor: pointer;
}

.c-twitter:hover{ 
    
}

.c-connect{ 
}
.c-know-more{

}
.c-cc{

}


@keyframes float {
	0% {
		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		// box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}