<ion-content>

<ion-row class="c-main-justify-center  "   >
<ion-col class="container" size="12"  >
  <div class="headers">
    <a href="/"><img src="/assets/longlogo.gif" alt=""></a>
    <a href="/">Home</a> 
    <a href="/claim-royalty">Redeem</a>
    <a href="/mint">Mint</a>
  </div>
  <main class="body">
    <h1>Gallery</h1>
    <div class="gallery">
      <aside class="filters">  
        <div class="series" *ngFor="let filter of objectKeys(filters)" >
          <div class="filter-main"  
          (click)="onToggleVisibleFilter(filter)"> 
            <h4 class="toggleable open" data-do="toggle" data-on="click" data-doon="true">{{filter}}</h4>
            <ion-icon style="color: #fff;" name="chevron-down-outline"></ion-icon>
          </div>
          <div class="options"  [ngStyle]="{'display': !filters[filter].isVisible ? 'none': 'block'}" *ngFor="let list of filters[filter].list">
            <div class="form-row">
                <label>
                  <input data-do="filter" data-on="click" type="checkbox" data-doon="true"
                  (change)="onCheckChange($event,list)">
                  <span class="label">
                    {{list.name}}
                    <span class="badge">{{list.count}}</span>
                  </span>
                </label>
            </div> 
          </div> 
        </div>
      </aside>

      <main class="results">
        <ion-row>
          <ion-col size="6" size-lg="2" size-md="3" size-sm="6"
          *ngFor="let data of datalist" (click)="onToggleModal(data)"
           [hidden]="!isItemHidden(data)">
            <div class="item" data-do="modal-open" data-on="click" data-index="2017" data-doon="true" >
              <div class="preview">
                <img [src]="data.preview" loading="lazy">
              </div>
              <h6>{{data.name}}</h6> 
            </div>
          </ion-col>
        </ion-row>
      </main>

    </div>
  </main>  
</ion-col>
</ion-row>
</ion-content>

<div class="modal" id="modal"  (click)="onToggleModal()">
  <div class="overlay"  *ngIf="modalDetails">
    <ion-row>
      <ion-col size="12" size-lg="5" size-md="5" size-sm="12">
        <img [src]="modalDetails.preview" alt="">
      </ion-col>
      <ion-col size="12" size-lg="7" size-md="7" size-sm="12" style="padding-left: 20px;">
        <div class="attributes">
          <h3 style=" margin-bottom: 10px; ">Traits</h3>
          <ion-row>
            <ion-col size="6" *ngFor="let attribute of modalDetails.attributes"
            >
              <div style="text-align: center; background: #EAE8E8; border-radius: 10px;padding: 5px;  ">
                <p>{{attribute.trait_type}}</p>
                <h3>{{attribute.value}}</h3>
                <p>have </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>