html, body {
  background-attachment: fixed;
  background-image: url(/images/bg-market.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.head {
  background-color: rgba(0, 0, 0, 0.65);
}

.head .right .link {
  border-radius: 50%;
  margin-right: 0;
  overflow: hidden;
}

.head .right img {
  height: 53px;
}

.section-1 {
  margin-top: 100px;
}

.section-1 .form {
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.section-1 .form .preview img {
  display: block;
}

.section-1 .form .label {
  color: #000000;
}

.section-1 .info {
  flex-grow: 1;
  padding: 20px 20px 20px 0;
  text-align: center;
}

.section-1 .info h1 {
  color: #000000;
  font-size: 20px;
  margin: 0;
}

.section-1 .form-exchange .form-row {
  background-color: #161522;
  border: 1px solid #2A2F42;
  border-radius: 10px;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

.section-1 .form-exchange .form-row label {
  align-items: center;
  display: flex;
}

.section-1 .form-exchange .form-row label span {
  flex-grow: 1;
}

.section-1 .form-exchange .form-row label .cta-watch {
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.section-1 .form-exchange .form-row label img {
  margin-right: 10px;
  width: 20px;
}

.section-1 .form-exchange .form-row .form-field {
  align-items: center;
  display: flex;
}

.section-1 .form-exchange .form-row .form-field input {
  background-color: transparent;
  border: 0;
  color: #CCCCCC;
  flex-grow: 1;
  font-size: 20px;
  outline: none;
}

.section-1 .form-exchange .form-row .form-field .balance {
  text-transform: uppercase;
  white-space: nowrap;
}

@media(max-width: 767px) {
  .head .container {
    display: flex;
  }

  .head .left {
    text-align: left;
  }

  .head .right {
    display: flex;
    text-align: right;
  }

  .head .right .link {
    margin: 0;
  }

  .section-1 {
    margin-top: 40px;
  }

  .section-1 .info {
    padding-right: 0;
  }

  .section-1 .form {
    display: block;
    padding: 20px 20px 40px;
  }

  .section-1 .form .preview {
    text-align: center;
  }

  .section-1 .form .preview img {
    display: inline;
  }
}