.box {
  background-color: #E1C18A;
  border: 1px solid #BD9F6D;
  border-radius: 10px;
  color: #222222;
  display: block;
  padding: 10px 20px;
}

.modal {
  align-items: center;
}

.modal .overlay {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  border: 5px solid #F9AF00;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  max-width: 600px;
  padding: 10px 20px;
  width: 100%;
}

.modal img {
  width: 100%;
}

.modal h3 {
  color: #F9AF00;
}

.section-1 {
  align-items: center;
  background-color: #DEB273;
  background-image: url(/images/about/about-bg-treasure.gif);
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 1000px auto;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.section-1 img {
  max-width: 400px;
  width: 100%;
}

.section-1 .info {
  color: #232323;
  padding-left: 40px;
  max-width: 400px;
}

.section-1 .info h1 {
  color: #232323;
}

.section-1 .info p {
  font-size: 15px;
}

.section-1 .info ul {
  padding-left: 15px;
}

.section-1 .info li {
  font-size: 15px;
  line-height: 30px;
  padding-left: 10px;
}

.section-2::before {
  background-image: url(/images/about/dirt-2.png);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: 70px;
  border-top: 10px solid #251205;
  content: ' ';
  display: block;
  height: 70px;
  width: 100%;
}

.section-2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #140737 90%, #1A084D 90%);
  padding: 0 0 50px;
  position: relative;
  text-align: center;
}

.section-2 .content {
  position: relative;
  z-index: 2;
}

.section-2 h2 {
  color: #F9AF00;
  font-size: 16px;
  margin: 0;
}

.section-2 p {
  color: #CCCCCC;
  padding: 0;
}

.section-2 .stats {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.section-2 .stats .stat {
  padding: 0 32px;
}

.section-2 .stats .stat h6 {
  margin: 0;
}

.section-2 .community {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  max-width: 900px;
  width: 100vw;
}

.section-2 .community aside {
  width: 16%;
  text-align: center;
}

.section-2 .community img {
  width: 60px;
  opacity: 0.3;
}

.section-2 .community .completed img {
  width: 60px;
  opacity: 1;
}

.section-2 .community h6 {
  margin: 0;
}

.section-2 .community .bar {
  display: block;
  height: 20px;
  width: 100%;
  background-color: #AAAAAA;
}

.section-2 .community .completed .bar {
  background-color: #F9AF00;
}

.section-3 img {
  width: 100%;
}

.section-4 {
  padding: 40px 0;
}

.section-4 h2 {
  color: #F9AF00;
  text-align: center;
}

.section-4 p {
  text-align: center;
}

.section-4 img {
  width: 100%;
}

.section-5 {
  background-color: #3D2C21;
  background-image: url(/images/about/dirt-1.png);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: 70px;
  color: #FFFFFF;
  margin-top: -5px;
  padding: 100px 0;
}

.section-5 a {
  color: #FFFFFF;
}

.section-5 h2 {
  display: none;
  margin-top: 0;
}

.section-5 .left,
.section-5 .right {
  flex-grow: 1;
  margin: 0 10px;
  width: 50%;
}

.section-5 .faq {
  display: flex;
  justify-content: center;
}

.section-5 .faq h3 {
  color: #F9AF00;
  font-size: 12px;
  margin: 0;
  padding-bottom: 10px;
}

.section-5 .faq p {
  padding: 0 0 40px;
}

@media(max-width: 960px) {
  .section-1 {
    display: block;
    padding: 20px 20px 100px;
    text-align: center;
  }

  .section-1 .info {
    padding-left: 0;
    margin: auto;
  }

  .section-1 .info h1 {
    font-size: 21px;
  }

  .section-1 .info ul {
    list-style: none;
  }

  .section-1 .info li {
    padding-left: 0;
  }

  .section-5 .faq {
    display: block;
    text-align: center;
  }

  .section-5 .left,
  .section-5 .right {
    width: auto;
  }

  .section-5 .faq h3 {
    white-space: normal;
  }
}

@media(max-width: 792px) {
  .modal .overlay .close {
    position: fixed;
    right: 10px;
    top: 10px;
  }
}

@media(max-width: 650px) {
  .section-3 .community {
    box-sizing: border-box;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-3 .community aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-3 .community aside img,
  .section-3 .community .completed img {
    width: 100px;
  }

  .section-3 .community .bar {
    display: none;
  }
}

@media(max-width: 560px) {
  .section-2 .stats {
    display: block;
  }

  .section-2 .community h6 {
    font-size: 6px;
  }

  .section-2 .community img {
    width: 50px;
  }
  
  .section-2 .community .completed img {
    width: 50px;
  }
}